<html>
<head>
    <title>Select your current shoe</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Select your current running shoe</h1>
    <h6>If you don't currently have one select None</h6>
    <form action="http://localhost:18080/store" method="POST">
        <input list="shoes" id="select-shoe" name="shoes">
        <datalist id="shoes">
                <option value="None">
            {% for shoe in shoes %}
                <option value="{{shoe.name}}">
            {% endfor %}
        </datalist>
    <br>
    <input type="hidden" id="question_num" name="question_num" value="0">
    <input type="submit" value="Next">
    </form>
</body>
</html>