{# This is the standard question template so that all we have to do is add a question and some answers into a config and rerun the code#}
<html>
<head>
    <title>Question {{ question_number}}</title>
</head>
<body>
    <h1>Question {{ question_number }}</h1>
    <h6>{{ text }}</h6>
    <form>
    {% if type == "single" %}
        {% for answer in answers %}
            <label for="{{ answer.id }}">{{ answer.text }}</label>
            <!-- we should use another field instead of the question number -->
            <input type="radio" id="{{ answer.id }}" name="{{ question_number }}">
        {% endfor %}
    
     {# This is for the mulitple responses #}   
    {% else %}
        {% for answer in answers %}
            <label for="{{ answer.id }}">{{ answer.text }}</label>
            <!-- again we should be using another field instead of the question number-->
            <input type="checkbox" id="{{ answer.id }}" name="{{ question_number }}">
        {% endfor %}
    {% endif %}
    <input type="submit" value="{% if question_number < questions %}Next{% else %}To Results{% endif %}">
    </form>
</body>
</html>