{# This is the standard question template so that all we have to do is add a question and some answers into a config and rerun the code#}
<html>
<head>
    <title>Question {{ question_number}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Question {{ question_number }}</h1>
    <h6>{{ text }}</h6>
    <form action="http://localhost:18080/store" method="POST">
    {% if type == "single" %}
        {% for answer in answers %}
            <label for="{{ answer.metrics }}">{{ answer.text }}</label>
            <!-- we should use another field instead of the question number -->
            <input type="radio" id="{{ answer.id }}" name="q{{ question_number }}" value="{{ answer.metrics }}:{{ answer.values }}">
        {% endfor %}
    
     {# This is for the mulitple responses #}   
    {% else %}
        {% for answer in answers %}
            <label for="{{ answer.id }}">{{ answer.text }}</label>
            <!-- again we should be using another field instead of the question number-->
            <input type="checkbox" id="{{ answer.id }}" name="q{{ question_number }}" value="{{ answer.metrics }}:{{ answer.values }}">
        {% endfor %}
    {% endif %}
    <br>
    <input type="hidden" value="{{ questions }}" name="questions">
    <input type="hidden" value="{{ question_number }}" name="question_num">
    <input type="submit" value="{% if question_number < questions %}Next{% else %}To Results{% endif %}">
    </form>
</body>
</html>